{{if and (.Site.Params.cover) (.IsHome)}}
  {{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
    <header id="header" class="flex w-full m-0 bg-cover header bg-top-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)), url({{.Site.Params.cover}})">
  {{ else }}
    <header id="header" class="flex w-full m-0 bg-cover header bg-top-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)), url({{.Site.Params.cover | absURL}})">
  {{ end }}
    <div class="relative flex flex-col items-center w-full p-6 mx-auto max-w-7xl">
      <div class="self-end block mx-2 text-white lg:hidden">
        {{ partial "nav-menu-buttons.html" . }}
      </div>

      <div id="nav-menu" class="absolute self-end hidden text-white bg-black rounded-md shadow lg:p-6 lg:block lg:bg-transparent lg:shadow-none">
        <nav>
          {{ partial "nav-links.html" . }}
        </nav>
      </div>

      <div class="flex flex-col items-center justify-center flex-grow w-full">
        {{if .Site.Params.avatar}}
          {{if or (eq (substr .Site.Params.avatar 0 7) "http://") (eq (substr .Site.Params.avatar 0 8) "https://")}}
            <img alt="{{ .Site.Title }}" class="w-24 h-24 mb-3 rounded-full lg:w-32 lg:h-32" src="{{.Site.Params.avatar}}">
          {{ else }}
            <img alt="{{ .Site.Title }}" class="w-24 h-24 mb-3 rounded-full lg:w-32 lg:h-32" src="{{.Site.Params.avatar | absURL}}">
          {{ end }}
        {{ end }}
        <a href="{{ .Site.Home.Permalink }}" class="flex flex-shrink-0 px-3 text-4xl font-semibold tracking-tighter text-center transition duration-300 ease-in-out bg-white opacity-75 focus:text-gray-300 hover:opacity-100">
          {{ .Site.Title }}
        </a>

        <nav class="text-white">
          {{ partial "nav-social-links.html" . }}
        </nav>
      </div>
    </div>
  </header>
{{else}}
  <header id="header" class="fixed z-10 w-full m-0 transition-all duration-300 ease-in-out border-t-4 border-gray-300 backdrop-filter-blur">
    <div id="header-container" class="relative flex flex-wrap items-center justify-between p-6 mx-auto max-w-7xl lg:flex-no-wrap">
      <a href="{{ .Site.Home.Permalink }}" class="flex flex-shrink-0 text-3xl font-semibold leading-10 tracking-tighter text-gray-600">
        {{ .Site.Title }}
      </a>

      <div class="block mx-2 lg:hidden">
        {{ partial "nav-menu-buttons.html" . }}
      </div>

      <div class="absolute flex flex-col items-center bg-white rounded-md shadow right-8 top-16 lg:relative lg:right-0 lg:top-0 lg:flex-row lg:bg-transparent lg:shadow-none">
        <nav id="nav-social-links" class="hidden w-full p-4 text-gray-600 lg:p-0 lg:block lg:order-last lg:w-auto lg:ml-3">
          {{ partial "nav-social-links.html" . }}
        </nav>

        <nav id="nav-menu" class="hidden w-full p-4 text-gray-600 lg:p-0 lg:block lg:w-auto">
          {{ partial "nav-links.html" . }}
        </nav>
      </div>
    </div>
  </header>
{{end}}
