{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav aria-label="Page navigation">
  <ul class="flex justify-center mt-2">
    {{ if $pag.HasPrev }}
      <li>
        <a class="p-2 m-2" href="{{ $pag.First.Permalink }}">First</a>
      </li>
      <li>
        <a class="p-2 m-2" href="{{ $pag.Prev.Permalink }}" rel="prev">Prev</a>
      </li>
    {{ else }}
      <li>
        <span class="p-2 m-2 opacity-25">First</span>
      </li>
      <li>
        <span class="p-2 m-2 opacity-25">Prev</span>
      </li>
    {{ end }}

    {{ range $pag.Pagers }}
      {{ if eq . $pag }}
      <li>
        <span class="p-2 m-2 font-bold" href="{{ .Permalink }}">{{ .PageNumber }}</span>
      </li>
      {{ else }}
      <li>
        <a class="p-2 m-2" href="{{ .Permalink }}">{{ .PageNumber }}</a>
      </li>
      {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
      <li>
        <a class="p-2 m-2" href="{{ $pag.Next.Permalink }}" rel="next">Next</a>
      </li>
      <li>
        <a class="p-2 m-2" href="{{ $pag.Last.Permalink }}">Last</a>
      </li>
    {{ else }}
      <li>
        <span class="p-2 m-2 opacity-25">Next</span>
      </li>
      <li>
        <span class="p-2 m-2 opacity-25">Last</span>
      </li>
    {{ end }}
  </ul>
</nav>
{{ end }}