<aside class="flex">
  {{ with .NextInSection }}
    <a class="flex flex-col items-center w-full px-3 no-underline transition duration-300 ease-in-out rounded-md md:w-1/2 py-7 hover:bg-white" href="{{ .RelPermalink }}">
      <span class="px-3 py-2 mb-2 text-xs font-bold uppercase border rounded-md border-gray-6">Read this next</span>
      <span class="text-center">{{.Title}}</span>
    </a>
  {{ end }}
  {{ with .PrevInSection }}
    <a class="flex flex-col items-center w-full px-3 no-underline transition duration-300 ease-in-out rounded-md md:w-1/2 py-7 hover:bg-white" href="{{ .RelPermalink }}">
      <span class="px-3 py-2 mb-2 text-xs font-bold uppercase border rounded-md border-gray-6">You might enjoy</span>
      <span class="text-center">{{.Title}}</span>
    </a>
  {{ end }}
</aside>
