<div id="summary" class="flex items-center">
  <button id="button-likes-{{ md5 .Permalink }}" class="flex items-center p-3 mr-6 transition duration-300 ease-in-out bg-gray-100 rounded-md hover:bg-white">
    <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
    </svg>
    <span id="webmentions-total-likes" class="mr-1"></span>
  </button>
  <button id="button-interactions-{{ md5 .Permalink }}" class="flex items-center p-3 mr-6 transition duration-300 ease-in-out bg-gray-100 rounded-md hover:bg-white">
    <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
    </svg>
    <span id="webmentions-total-interactions" class="mr-1"></span>
  </button>
  <div class="flex-grow">
    <div id="webmentions-avatars" class="flex -space-x-2 overflow-hidden"></div>
  </div>
</div>

<template id="reply-template" class="list-none">
  <li class="flex mb-8 text-base">    
    <a class="flex-shrink-0 js-author" href="">
      <img class="w-8 h-8 mr-3 rounded-full js-avatar" alt="" src=""/>
    </a>
    <div>
      <div>
        <strong><a class="no-underline js-author-name" href=""></a></strong>
        <small><a class="ml-2 no-underline js-date js-source" href=""></a></small>
      </div>
      <div class="js-content"></div>
    </div>
  </li>
</template>
<template id="like-template" class="list-none">
  <li class="flex mb-8 text-base">
    <a class="flex-shrink-0 js-author" href="">
      <img class="w-8 h-8 mr-3 rounded-full js-avatar" alt="" src=""/>
    </a>
    <a class="no-underline js-source" href="">
      <span class="js-sentence js-author-name" href=""></span>
      <small class="ml-2 js-date" href=""></small>
    </a>
  </li> 
</template>

<div id="webmentions-interactions-{{ md5 .Permalink }}" class="hidden">
  <h4>Replies & Shares</h4>
  <ul id="replies"></ul>
  <ul id="shares"></ul>
</div>

<div id="webmentions-likes-{{ md5 .Permalink }}" class="hidden">
  <h4>Likes</h4>
  <ul id="likes"></ul>
</div>

<script type="text/javascript">
  var webmentions = (permalink, aliases, productionBaseUrl) => {
    fetchWebmentions(permalink, aliases, productionBaseUrl);

    document.querySelector('#button-interactions-{{ md5 .Permalink }}').addEventListener('click', () => {
      document.querySelector('#webmentions-interactions-{{ md5 .Permalink }}').classList.toggle('hidden');      
    });

    document.querySelector('#button-likes-{{ md5 .Permalink }}').addEventListener('click', () => {
      document.querySelector('#webmentions-likes-{{ md5 .Permalink }}').classList.toggle('hidden');      
    });
  };

  document.addEventListener('turbolinks:load', webmentions({{ .Permalink }}, {{ .Aliases }}, {{ .Site.Params.productionBaseUrl }}));
</script>
